<html>
	<head>
		<link href="/public/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.0.js" type="text/javascript"></script>
        <script src="/public/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="/public/jqueryCookie.js" type="text/javascript"></script>
		<script src="/public/jquerytmpl.js" type="text/javascript"></script>
		<script src="/public/underscore.js" type="text/javascript"></script>
		<style type="text/css">
			
		</style>
		<script type="text/javascript">
		</script>
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
          			</a>
					<a class="brand">Multi-Libs</a>
				    <div class="nav-collapse collapse">
				    	<ul class="nav">
				    		<li><a href="#">Create Game</a></li>
			    		</ul>
			    	</div>
			    </div>
			</div>
		</div>
		<hr />
		<div>
			<h3>Game started: <label id="gameStatus"></label></h3>
		</div>
		<div id="blackCard" class="card">
			<p id="blackCardText"></p>
		</div>
		<br>
		<div id="myCarousel" class="carousel slide">
			<div class="carousel-inner">
				<ul id="availableCards" class="thumbnails">
					
				</ul>
			</div>
			<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
		<div id="actionButton">
			<a id="playCardLink" class="btn btn-success btn-large span3" href="javascript:playCard();">Play Card!</a>
			<a id="selectWinnerLink" class="btn btn-success btn-large span3" href="javascript:selectWinner();">Select Winner!</a>
		</div>

	</body>
</html>

<script type="text/javascript">

	function me(players){
		return _.find(players, function(player) {
			return player.id == $.cookie('playerId');
		});
	}

	function PollForGames() {

		var gameId = $.cookie('gameId');

		var cardTemplate = '<div class="item cardwrap"><li class="span3"><div data-cardId="${cardValue}" class="card"><p>${cardValue}</p></div></li></div>';

		$.getJSON('/gamebyid?id=' + gameId, function(game) {
			var isStarted = game.isStarted;

      if(!isStarted) {
        $('#gameStatus').text("waiting for others to join...please wait"); 
        $("#playCardLink").html("Waiting...").attr("disabled", "disabled");
        setTimeout(PollForGames, 1000);
        return;
      }
      else {
        $('#gameStatus').text(""); 
      }

			if(isStarted) {
				$('#blackCardText').text(game.currentBlackCard);
			}

			var thisPlayer = me(game.players);

      if(thisPlayer.isCzar) {
        $("#playCardLink").hide();
        $("#selectWinner").show();
      } else {
        if(thisPlayer.selectedWhiteCardId) {
          $("#playCardLink").hide();
          $("#selectWinner").show();
          $("#playCardLink").html("Waiting...").attr("disabled", "disabled");
        } else {
          $("#playCardLink").html("Play Card!").removeAttr("disabled");
        }
      }

			if(thisPlayer && thisPlayer.cards) {
				jQuery.each(thisPlayer.cards, function(card) {
					var cardElement = $.tmpl(cardTemplate, {
						cardValue: thisPlayer.cards[card]
					});

					$('#availableCards').append(cardElement);
					$('.cardwrap').removeClass('active');
					$('.cardwrap').first().addClass('active');
				});
			}
		});
	};

	function playCard() {
		var cardValue = $('.active .card').attr('data-cardId');
    $.post("selectCard", {
        playerId: $.cookie('playerId'),
        gameId: $.cookie('gameId'),
        whiteCardId: cardValue
      }, function() {
        PollForGames();
      });
	}

	$(document).ready(function() {

		PollForGames();

		$('.carousel').carousel({
			interval: false
		});
	});
</script>
