<html>
  <head>
    <title>Hello World</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  </head>
  <body>
    <!-- Home -->
    <div data-role="page" id="page1">
        <div data-theme="a" data-role="header">
            <h3>
                Header
            </h3>
        </div>
        <div data-role="content">
            <h2>
                _____, it's what's for dinner.
            </h2>
            <ul data-role="listview" data-divider-theme="b" data-inset="true">
                <li data-theme="c">
                    <a data-transition="none">
                        Card 1
                    </a>
                </li>
                <li data-theme="c">
                    <a data-transition="none">
                        Card 2
                    </a>
                </li>
                <li data-theme="c">
                    <a data-transition="none">
                        Card 3
                    </a>
                </li>
                <li data-theme="c">
                    <a data-transition="none">
                        Card 4
                    </a>
                </li>
                <li data-theme="c">
                    <a data-transition="none">
                        Card 5
                    </a>
                </li>
            </ul>
        </div>
        <div data-theme="a" data-role="footer" data-position="fixed">
            <h3>
                Awesome Points: 1
            </h3>
        </div>
    </div>
    <script>
        //App custom javascript
    </script>
  </body>
</html>
